<!DOCTYPE html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type=text/javascript src="{{url_for('static', filename='script.js') }}"></script>
        <title>Page Title</title>
        <meta name="description" content="Write some words to describe your html page">
    </head>
    <body>
        <div class="blended_grid">
                <div class="pageHeader">
                    <h1 align="center">Page header</h1>
                </div>
                <div>
                        <input type="radio" name="group1" value="server">Server<br>
                        <br>
                        <input type="radio" name="group1" value="component">Component<br>
                        <br>
                </div>
                <div class="pageLeftMenu">
                    <form id="component_form">
                        <div>
                            <div id="component_fuel_verions">
                                {% for fv in fuel_versions %}
                                    <input type="checkbox" name="fuel_versions" value="{{ fv.name }}">{{ fv.name }}<br>
                                {% endfor %}
                            </div>
                            <br>
                            <h2>Object type</h2>
                            <br>
                        </div>
                        <div id="component_params">
                                <label>Component type</label><br>
                                <br>
                                <select id="component_types" name="types">
                                  <option selected="selected" value="">All types</option>
                                      {% for type in types %}
                                           <option value="{{ type.name }}">{{ type.name }}</option>
                                      {% endfor %}
                                </select>
                                <br>
                                <br>
                                <label>Component name</label>
                                <br>
                                <input id="component_name" name="name" type="text"/>
                                <br><br>
                                <label>Server</label><br>
                                <br>
                                <select id="server_name2" name="server">
                                     <option value="">nothing</option>
                                     {% for server in servers %}
                                          <option value="{{ server.name }}">{{ server.name }}</option>
                                     {% endfor %}
                                </select>
                            </div>
                        </form>
                        <form id="server_form">
                            <div>
                                <div id="server_fuel_verions">
                                    {% for fv in fuel_versions %}
                                        <input type="checkbox" name="fuel_versions" value="{{ fv.name }}">{{ fv.name }}<br>
                                    {% endfor %}
                                </div>
                                <br>
                                <br>
                                <label>Server name</label>
                                <br>
                                <input id="server_name" name="name" type="text"/>
                                <br>
                            </div>
                        </form>
                       </div>
                    <input id="search" type="button" value="Search">
                </div>
                <div class="pageContent">
                    <table id="server_table" style="margin:4px;width:100%;border: 1px solid black;border-spacing: 5px;" border="1">
                        <th>name</th>
                        <th>vendor</th>
                        <th>fuel versions</th>
                        <th>specification url</th>
                        <th>availability</th>
                        <th>comments</th>
                    </table>
                    <table id="component_table" style="display: none; margin:4px;width:100%;border: 1px solid black;border-spacing: 5px;" border="1">
                        <th>name</th>
                        <th>vendor</th>
                        <th>type</th>
                        <th>hardware id</th>
                        <th>driver</th>
                        <th>fuel versions</th>
                        <th>comments</th>
                    </table>
                </div>
                <div class="pageFooter">
            </div>
        </div>
    </body>
</html>