<!DOCTYPE html>
    <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="layout.css">
    <title>Page Title</title>
    <meta name="description" content="Write some words to describe your html page">
    </head>
    <body>
        <div class="blended_grid">
                <div class="pageHeader">
                    <h1 align="center">Page header</h1>
                </div>
                <div class="pageLeftMenu">
                    <div>
                        <input type="checkbox" name="option2" value="a2">Fuel 4.1<br>
                        <br>
                        <input type="checkbox" name="option3" value="a3">Fuel 5.0<br>
                        <br>
                        <input type="checkbox" name="option4" value="a4">Fuel 5.1<br>
                        <br>
                        <input type="checkbox" name="option5" value="a5">Fuel 6.0<br>
                        <br>
                        <input type="checkbox" name="option5" value="a5">Fuel 6.1<br>
                        <br>
                        <h2>Object type</h2>
                        <br>
                        <input type="radio" name="group1" value="server">Server<br>
                        <br>
                        <input type="radio" name="group1" value="component"> Component<br>
                        <br>
                        <br>
                    </div>
                    <div>
                        <label>Component type</label><br>
                        <br>
                        <select name="component_type">
                          <option selected="selected">All types</option>
                          <option>Raid</option>
                          <option>CPU</option>
                          <option>Motherboard</option>
                          <option>Chipset</option>
                        </select>
                        <br>
                        <br>
                        <label>Component name</label>
                        <br>
                        <input type="text"/>
                        <label>Server</label><br>
                        <br>
                        <select name="server">
                          <option selected="selected">Dell x.x</option>
                          <option>Intel y.y</option>
                          <option>IBM z.z</option>
                        </select>
                    </div>
                </div>
                <div class="pageContent">
                    <table style="margin:4px;width:100%;border: 1px solid black;border-spacing: 5px;" border="1">
                        <th>Component_id</th>
                        <th>Component type</th>
                        <th>Fuel version</th>
                        <th>Certification result</th>
                        <th>Certification date</th>
                        <th>Drivers</th>
                        <tr>
                            <td>1</td>
                            <td>Raid</td>
                            <td>Fuel 6.0</td>
                            <td>Success</td>
                            <td>01.01.2015</td>
                            <td><a href="#">Link to drivers list<a></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Newtork interface</td>
                            <td>Fuel 5.1</td>
                            <td>Planning</td>
                            <td>02.01.2015</td>
                            <td><a href="#">Link to drivers list<a></td>
                        </tr>
                    </table>
                </div>
                <div class="pageFooter">
            </div>
        </div>
    </body>
</html>